:root {
    --font-family: "Mulish", sans-serif;

    // colors

    // --light: #00c3ff;
    --light: #f5b041;

    // --primary: #2071e7;
    --primary: #2980b9;

    // --dark: #2980b9;
    --dark: #1a5276;

    --text: #333;
    --background: #fafafa;
    --hint: #999;
    --border: #ddd;
}
